@model MainPageViewModel

@{
    ViewData["Title"] = "Home";
    var pageH1 = Model.PageH1;

    var textModel = Model.TextModel;
    var imageModel = Model.ImageModel;
    var buttonModel = Model.ButtonModel;
    var phraseModel = Model.PhraseModel;
    var actionModel = Model.ActionModel;
}

<div class="header-block header-block-home">
    <a class="link-drive-logo" asp-area="" asp-controller="Home" asp-action="Index">
        <img class="drive-logo" src="/img/logos/drive-radio-logo.png" alt="drive-logo" />
    </a>
</div>

<div class="main-content-common">
    <div class="main-content-block main-content-color-block overflow-wrap-break-word-block">
        <h1 class="h1-text text-in-center">@pageH1</h1>

        <p class="paragraph">
            @textModel.Text
        </p>
    </div>

    @if (imageModel != null && !string.IsNullOrEmpty(imageModel.ImageAsString))
    {
        <div class="main-content-block main-content-block-image" style="background-image: url('@imageModel.ImageAsString')">
            <div class="content-block-image-button">
                @if (buttonModel != null && !string.IsNullOrEmpty(buttonModel.Button))
                {
                    <a class="button-main-page span-large white-text" href="#submit-your-application">@buttonModel.Button</a>
                }
            </div>
            <div class="content-block-image-phrase overflow-wrap-break-word-block">
                @if (phraseModel != null && !string.IsNullOrEmpty(phraseModel.Phrase))
                {
                    <span class="phrase-main-page span-mega-large white-text text-shadow">@phraseModel.Phrase</span>
                }
            </div>
        </div>
    }

    <div id="submit-your-application" class="main-content-block main-content-color-block overflow-wrap-break-word-block">
        <h2 class="h2-text text-in-center">@actionModel.Action</h2>

        <partial name="_ApplicationForm" model="@Model.ApplicationModel" />

    </div>
</div>

@section Scripts {
<script defer>
    let form = document.getElementById('CreateApplicationForm');
    let submit = form.querySelector('[type=submit]');

    let validateForm = function() {
        let requiredInputs = form.querySelectorAll('.required');
        let isValid = true;
        for(input of requiredInputs) {
            if(input.value.length == 0) {
                isValid = false;
            }
        }
        submit.disabled = !isValid;
    }

    form.onkeyup = function(event) {
        validateForm();
    }

    validateForm();
</script>
}