@model ActionBlockViewModel

@{
    //Здесь всегда должна быть модель. Если её нет, это аварийный случай.
    MainPageActionModel? selectedActionModel = Model.Actions.FirstOrDefault(a => a.Id == Model.SelectedActionId);
}

@if (Model.SelectedActionId == 0 && Model.CurrentPresetId > 0)
{
    <div class="content-block-small-indent">
        <p class="middle-text font-family-2 gold-text paragraph">
            Внимание! В данный момент призыв к действию не установлен, используются данные по умолчанию. Эти же данные будут отображаться
            на странице гостевого сайта. Менять или удалять их недопустимо. Чтобы установить другую строку произведите выбор из списка.
        </p>
    </div>
}

<div class="content-block-small-indent preset-content-block">
    <div class="preset-input-block">
        <div class="input-block-header">
            @if (selectedActionModel != null)
            {
                @*id = 0 Только у объекта по умолчанию. Он не должен отображаться в списке ниже*@
                if (selectedActionModel.Id == 0)
                {
                    Model.Actions.Remove(selectedActionModel);
                }

                <span class="biggest-text font-family-2 black-text">@selectedActionModel.Action</span>
            }
            else
            {
                <div class="preset-input-action-block-empty">
                    <span class="biggest-text font-family-2 black-text">Призыв к действию отсутствует</span>
                </div>
            }
        </div>
        <div class="input-block-top">
            <div class="input-block-top-item input-block-item">
                <span class="input-block-label middle-text font-family-2 black-text">Имя</span>
                <div class="input-block-field"></div>
            </div>
            <div class="input-block-top-item input-block-item">
                <span class="input-block-label middle-text font-family-2 black-text">E-mail</span>
                <div class="input-block-field"></div>
            </div>
        </div>
        <div class="input-block-middle-item">
            <div class="input-block-item">
                <span class="input-block-label middle-text font-family-2 black-text">Текст сообщения</span>
                <div class="input-block-field"></div>
            </div>
        </div>
        <div class="preset-input-block-bottom">
            <div class="input-block-button">
                <span class="biggest-text font-family-2 white-text">Отправить</span>
            </div>
        </div>
    </div>
</div>

@*Изменение призыва к действию*@
@if (Model.CurrentPresetId > 0)
{
    <div class="content-block-small-indent">
        <div class="buttons-panel">
            <div class="buttons-panel-block x-expandable">
                <button class="button high-button button-max-width x-expand" type="button">
                    <span class="large-text font-family-2 black-text">Изменить блок ввода</span>
                </button>
                <div class="select select-block x-expandable-block x-app-action-block" data-current-preset-id="@Model.CurrentPresetId">
                    @if (Model.Actions != null && Model.Actions.Count > 0)
                    {
                        <div class="select-block-inner">
                            <p class="text font-family-2 black-text paragraph">
                                Призыв к действию можно выбрать из списка или создать новый. Выбранный для текущего пресета призыв выделен зелёным цветом.
                                Если призыв не будет установлен, на главной странице будет отображаться строка по умолчанию. Чтобы удалить текст
                                необходимо выбрать его в списке и нажать "Удалить". Внимание, при удалении призыва к действию, он сбросится у всех пресетов,
                                которые его используют.
                            </p>
                        </div>

                        <div class="select-block-inner">
                            <div class="select-list-block select-block-max-height-1 scroll-y-block">
                                <ul class="select-list">
                                    @foreach (MainPageActionModel action in Model.Actions)
                                    {
                                        var isSelected = action.Id == Model.SelectedActionId;
                                        var labelClassName = isSelected ? "green-text" : "black-text";
                                        var labelForActionId = $"action-{action.Id}";

                                        <li class="select-list-item">
                                            <div class="select-list-item-block">
                                                <input type="radio" name="SelectedActionId"
                                           class="select-point" id="@labelForActionId" value="@action.Id" checked="@isSelected" />
                                                <label class="text font-family-2 select-label @labelClassName" for="@labelForActionId">@action.Action</label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="select-block-inner">
                            <div class="buttons-panel-left">
                                <button class="button low-button button-basis-1 x-url-button" type="button" data-action="select"
                                data-action-url="@Url.Action("SelectActionForCurrentPreset", "Main")">
                                    <span class="middle-text font-family-2 black-text">&#10084; Выбрать</span>
                                </button>

                                <button class="button low-button button-basis-1 x-url-button" type="button" data-action="delete"
                                data-action-url="@Url.Action("DeleteAction", "Main")">
                                    <span class="middle-text font-family-2 black-text">&#10006; Удалить</span>
                                </button>

                                <button class="button low-button button-basis-1 x-url-button" type="button" data-action="remove"
                                data-action-url="@Url.Action("RemoveActionForCurrentPreset", "Main")">
                                    <span class="middle-text font-family-2 black-text">&#9209; Убрать</span>
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="select-block-inner">
                            <p class="text font-family-2 black-text paragraph">
                                В данный момент нет ни одного сохранённого призыва к действию. Чтобы установить призыв, необходимо создать его.
                            </p>
                        </div>
                    }

                    <div class="select-block-inner">
                        <p class="text font-family-2 black-text paragraph">
                            Чтобы создать новый призыв к действию введите его в поле ниже и нажмите "Создать". Пустая строка не допускается,
                            длина не должна превышать 60 символов.
                        </p>
                    </div>

                    <div class="select-block-inner">
                        <input type="text" maxlength="60" class="text font-family-2 black-text input-text-field x-input-created-action" />
                    </div>

                    <div class="select-block-inner">
                        <div class="buttons-panel-left">
                            <button class="button low-button button-basis-1 x-url-button" type="button" data-action="create"
                                data-action-url="@Url.Action("CreateAction", "Main")">
                                <span class="middle-text font-family-2 black-text">&#10010; Добавить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}