@model ActionSelectViewModel

@{
    MainPageActionModel? selectedActionModel = Model.Actions.FirstOrDefault(a => a.Id == Model.SelectedActionId);
}

<div class="content-block-small-indent preset-content-block">
    <div class="preset-input-block">
        <div class="input-block-header">
            @if (selectedActionModel != null)
            {
                <span class="biggest-text font-family-2 black-text">@selectedActionModel.Action</span>
            }
            else
            {
                <div class="preset-input-action-block-empty">
                    <span class="biggest-text font-family-2 black-text">Призыв к действию отсутствует</span>
                </div>
            }
        </div>
        <div class="input-block-top">
            <div class="input-block-top-item input-block-item">
                <span class="input-block-label middle-text font-family-2 black-text">Имя</span>
                <div class="input-block-field"></div>
            </div>
            <div class="input-block-top-item input-block-item">
                <span class="input-block-label middle-text font-family-2 black-text">E-mail</span>
                <div class="input-block-field"></div>
            </div>
        </div>
        <div class="input-block-middle-item">
            <div class="input-block-item">
                <span class="input-block-label middle-text font-family-2 black-text">Текст сообщения</span>
                <div class="input-block-field"></div>
            </div>
        </div>
        <div class="preset-input-block-bottom">
            <div class="input-block-button">
                <span class="biggest-text font-family-2 white-text">Отправить</span>
            </div>
        </div>
    </div>
</div>

@*Изменение призыва к действию*@
<div class="content-block-small-indent">
    <div class="buttons-panel">
        <div class="buttons-panel-block x-expandable">
            <button class="button high-button button-max-width x-expand" type="button">
                <span class="large-text font-family-2 black-text">Изменить блок ввода</span>
            </button>
            <div class="select select-block x-expandable-block">
                <div class="select-block-inner">
                    <p class="text font-family-2 black-text paragraph">
                        Призыв к действию можно выбрать из списка или создать новый. Выбранный для текущего пресета призыв выделен зелёным цветом.
                        Если призыв используется одним из пресетов, то его удаление будет прервано. Чтобы удалить призыв необходимо
                        убрать его из всех пресетов. Если призыв к действию не будет установлен, то на главной странице будет отображаться призыв по умолчанию.
                    </p>
                </div>

                <form asp-area="" asp-controller="Main" asp-action="SelectTextForCurrentPreset" method="post">
                    <div class="select-block-inner">
                        <div class="select-list-block select-block-max-height-2 scroll-y-block">
                            <ul class="select-list">
                                @foreach (MainPageActionModel action in Model.Actions)
                                {
                                    var labelForActionId = $"action-{action.Id}";

                                    <li class="select-list-item">
                                        <div class="select-list-item-block">
                                            @if (action.Id == Model.SelectedActionId)
                                            {
                                                <input class="select-point" type="radio" name="id" id="@labelForActionId" value="@action.Id" checked />
                                                <label class="text font-family-2 green-text bolder select-label" for="@labelForActionId">@action.Action</label>
                                            }
                                            else
                                            {
                                                <input class="select-point" type="radio" name="id" id="@labelForActionId" value="@action.Id" />
                                                <label class="text font-family-2 black-text select-label" for="@labelForActionId">@action.Action</label>
                                            }
                                        </div>
                                    </li>
                                }
                                <li class="select-list-item">
                                    <div class="select-list-item-block">
                                        <input class="select-point" type="radio" name="id" id="action-remove" value="-1" />
                                        <label class="text font-family-2 blue-text bolder select-label" for="action-remove">Убрать призыв к действию</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="select-block-inner">
                        <div class="buttons-panel-left">
                            <button class="button low-button button-basis-1" type="submit" name="presetId" value="@Model.CurrentPresetId">
                                <span class="middle-text font-family-2 black-text">&#10084; Выбрать</span>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="select-block-inner">
                    <div class="buttons-panel-left">
                        <button class="button low-button button-basis-1" type="submit" name="id" value="delete-phrase">
                            <span class="middle-text font-family-2 black-text">&#10006; Удалить</span>
                        </button>
                        <button class="button low-button button-basis-1" type="submit" name="action" value="create-phrase">
                            <span class="middle-text font-family-2 black-text">&#9209; Создать</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>